<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <title>Document</title>
    <style>
        .successMsg{
            color: white;
            text-align: center;
            margin-top: 5rem;
            font-size: 1.3rem;
            text-transform: capitalize;
        }
        .successMsg span{
            display: block;
            font-size: 5rem;
        }
    </style>
</head>
<body>
    {{>navbar}}
    <div class="successMsg"><span>Congratulations</span>you have successfully submited your task.</div>
</body>
</html>