@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.navName{
    display: block;
    text-align: center;
    color: white;
    font-size: 5rem;
    margin-top: 2rem;
    font-family: 'Courgette', cursive;
}
@media screen and (max-width:500px) {
    .navName{
        font-size: 4rem;
    }
}
@media screen and (max-width:350px) {
    .navName{
        font-size: 3.5rem;
    }
}