@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Courgette&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    background-image: url(../image/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media screen and (max-width:768px) {
    html{
        font-size: 80%;
    }
}
@media screen and (max-width:350px) {
    html{
        font-size: 70%;
    }
}
@media screen and (max-width:250px) {
    html{
        font-size: 50%;
    }
}
